{% extends '_base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h3>Categories</h3>
    
    {% for category in categories %}

        <div style="display: inline-block; text-align: center; margin-right: 10px;">
            <a href="{% url 'products' category.category_slug %}">
                <img style="object-fit: cover; border-radius: 20px;" src="{{ category.category_image.url }}" width="200" height="200">
                <p>{{ category.category_name }}</p>
            </a>
        </div>

    {% endfor %}

{% endblock %}